/* shaired design */
body {
    font-family: Lato;
}

.main-1440 {
    max-width: 1440px;
}

.text-primary {
    color: #E55473;
}

.btn-primary {
    background: #E55473;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 5px;
    margin-top: 10px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.section-title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 24px;
}

.section-item-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}



/* shaired design */
/* nav design */
.nav-title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

/* banner-title */
.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
    width: 700px;
}

.des-area {
    width: 634px;
    padding: 32p 0;
    text-align: left;

}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 180px;

}

header {
    background: rgba(229, 84, 115, 0.10);
    background-position: cover;
}

/* feauture design */
.flower-tree {
    align-items: center;
}

.img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 310px;
    height: 428px;
    align-items: center;
}

.img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(223, 58, 8, 0.15);
    width: 310px;
    height: 428px;
    align-items: center;
}

.img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(218, 117, 166, 0.15);
    width: 310px;
    height: 428px;
    align-items: center;
}

.flower-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding: 0 240px;
    align-items: center;
    padding-top: 24px;
}

.feauture {
    padding: 0;
    margin: 0;
    padding: 130px 0;
}

/* feauture design */

/* hot deal design */
.Hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 230px 150px;
}

/* hot deal end */
/* instragram  */
.ret-flower {
    padding-top: 24px;
}
.retangle-flower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 10px;
}
.instragram{
    padding: 130px 90px;
}